<a href="https://colab.research.google.com/github/Ling-Hong/lending-club/blob/main/lending_club.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

to do
- write my own code
  - decision tree
  - adaboost 
  - random forest
  - add more metrics: accuracy, precision, recall
- compare it to codes on coursera

In [1]:
url = 'https://raw.githubusercontent.com/Ling-Hong/lending-club/main/lending-club-data.csv'
import pandas as pd
df = pd.read_csv(url)
df.head(10)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (19,47) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        id  member_id  ...  last_record_none  last_major_derog_none
0  1077501    1296599  ...                 1                      1
1  1077430    1314167  ...                 1                      1
2  1077175    1313524  ...                 1                      1
3  1076863    1277178  ...                 1                      1
4  1075269    1311441  ...                 1                      1
5  1072053    1288686  ...                 1                      1
6  1071795    1306957  ...                 1                      1
7  1071570    1306721  ...                 1                      1
8  1070078    1305201  ...                 1                      1
9  1069908    1305008  ...                 1                      1

[10 rows x 68 columns]

0         0
1         1
2         0
3         0
4         0
         ..
122602    1
122603    0
122604    1
122605    1
122606    0
Name: bad_loans, Length: 122607, dtype: int64

In [ ]:
df['safe_loans'] = df['bad_loans'].apply(lambda x : +1 if x==0 else -1)

In [ ]:
features = ['grade',                     # grade of the loan
            'sub_grade',                 # sub-grade of the loan
            'short_emp',                 # one year or less of employment
            'emp_length_num',            # number of years of employment
            'home_ownership',            # home_ownership status: own, mortgage or rent
            'dti',                       # debt to income ratio
            'purpose',                   # the purpose of the loan
            'term',                      # the term of the loan
            'last_delinq_none',          # has borrower had a delinquincy
            'last_major_derog_none',     # has borrower had 90 day or worse rating
            'revol_util',                # percent of available credit being used
            'total_rec_late_fee',        # total late fees received to day
           ]

target = 'safe_loans'                    # prediction target (y) (+1 means safe, -1 is risky)

# Extract the feature columns and target column
loans = df[features + [target]]

In [ ]:
loans

       grade sub_grade  short_emp  ...  revol_util total_rec_late_fee  safe_loans
0          B        B2          0  ...        83.7               0.00           1
1          C        C4          1  ...         9.4               0.00          -1
2          C        C5          0  ...        98.5               0.00           1
3          C        C1          0  ...        21.0              16.97           1
4          A        A4          0  ...        28.3               0.00           1
...      ...       ...        ...  ...         ...                ...         ...
122602     E        E5          1  ...        14.6               0.00          -1
122603     D        D2          0  ...        15.2               0.00           1
122604     D        D3          0  ...        10.7               0.00          -1
122605     D        D5          0  ...        46.3               0.00          -1
122606     A        A4          0  ...        21.5               0.00           1

[122607 rows x 13 columns]

In [ ]:
# pd.get_dummies is smarter
loans_dummites = pd.get_dummies(loans)
loans_dummites.head(10)

   short_emp  emp_length_num  ...  term_ 36 months  term_ 60 months
0          0              11  ...                1                0
1          1               1  ...                0                1
2          0              11  ...                1                0
3          0              11  ...                1                0
4          0               4  ...                1                0
5          0              10  ...                1                0
6          0               5  ...                0                1
7          1               1  ...                0                1
8          0               6  ...                0                1
9          0              11  ...                1                0

[10 rows x 68 columns]

# Decision tree